<article class="post-page">
  <h1><%= @post.zh_title %></h1>
  <div class="post-quote"><%= @post.zh_description %></div>
  <div class="post-content">
    <%= raw @post.zh_content.with_wp %>
  </div>
</article>