<div class="experts-wrap">
  <div class="container pt40 pb40">
    <div class="row">
      <% @experts.each do |expert| %>
      <div class="col-md-12">
        <div class="experts">
          <div class="row pb40">
            <div class="col-md-2">
              <%= image_tag(expert.portrait.w340_h340_fl_q80, class: 'portrait img-responsive') %>
            </div>
            <div class="col-md-6 col-md-offset-1 pt20">
              <p class="expert-zh-name"><%= expert.zh_name %></p>
              <p class="expert-en-name"><%= expert.en_name %></p>
              <p class="expert-description"><%= expert.description(I18n.locale) %></p>
            </div>
          </div>
        </div>
      </div>
      <% end %>
    </div>
  </div>
</div>