body {
  background-color: #fbf9f9;
  color: #333333;
  font-family: Arial, Helvetica, sans-serif;
}

#logo {
  margin: 10px 0 20px;
}

#header {
  height: 120px;
  background-color: #428bca;
  .meta {
    padding: 10px 0;
  }
}

#navbar-warpper {
  background-color: #004d80;
}

.navbar {
  background-color: #004d80;
  ul {
    li {
      padding-right: 20px;
      a {
          font-family: Oswald, 'Open Sans', Helvetica, Arial, sans-serif;
          font-size: 16px;
          font-style: normal;
          font-weight: bold;
          color: #fff;
          text-transform: uppercase;
      }
    }
  }
}

.home-posts {
  margin-left: -15px;
  margin-right: -15px;
}
.home-posts .home-post {
  position: relative;
  float: left;
  width: 50%;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
  padding-left: 5px;
  padding-right: 5px;
  min-height: 387px;
}
@media (min-width: 768px) {
  .home-posts .home-post {
    float: left;
    width: 33.33333333%;
  }
}
.home-posts .home-post article {
  margin-bottom: 10px;
}
.home-posts .home-post article img {
  max-width: 100%;
  height: auto;
  margin: 0px 0px 6px;
}
.home-posts .home-post article .category {
  padding: 0px 0px;
  font-weight: bold;
  text-transform: uppercase;
  margin: 0px 0px 5px;
  font-size: 14px;
}
.home-posts .home-post article .title {
  padding: 0px 0px;
  font-weight: bold;
  margin: 0px 0px 3px;
  font-size: 16px;
  font-family: "Gentium Book Basic", "Open Sans", Helvetica, Arial, sans-serif;
}
.home-posts .home-post article .description {
  padding: 0px 0px;
  margin: 0px 0px 7px;
  font-size: 14px;
  font-family: "Gentium Book Basic", "Open Sans", Helvetica, Arial, sans-serif;
}
.home-posts .home-post .title a:link,
.home-posts .home-post .title a:active,
.home-posts .home-post .title a:visited,
.home-posts .home-post .title a:hover {
  color: #110a3e;
}
.home-posts .home-post.double-size {
  min-height: 600px;
  margin-bottom: 10px;
}
.home-posts .home-post .category a:link,
.home-posts .home-post .category a:active,
.home-posts .home-post .category a:visited,
.home-posts .home-post .category a:hover {
  color: #110a3e;
}
.quote-list {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
  float: right !important;
  padding-left: 5px !important;
  padding-right: 5px !important;
  margin-bottom: 10px;
}
@media (min-width: 768px) {
  .quote-list {
    float: left;
    width: 33.33333333%;
  }
}
.quote-list .header {
  background-color: #110a3e;
  padding: 10px 15px;
}
.quote-list .header h2 {
  color: white;
  margin: 0px;
  font-weight: bold;
  font-size: 16px;
  font-family: "Oswald", "Open Sans", Helvetica, Arial, sans-serif;
}
.quote-list .content {
  background-color: #e9e9e9;
  color: #333333;
  padding: 20px 30px 22px;
  margin-bottom: 0px;
}
.quote-list .content .quote-list-post {
  margin-bottom: 10px;
}
.quote-list .content .quote-list-post .col-sm-4 {
  padding: 0px;
}
.quote-list .content .quote-list-post .image img {
  max-width: 100%;
  height: auto;
}
.quote-list .content .quote-list-post .text h3 {
  font-size: 16px;
  font-weight: bold;
  margin: 0px 0px 8px 0px;
  font-family: "Oswald", "Open Sans", Helvetica, Arial, sans-serif;
}
.quote-list .content .quote-list-post .text h3 a:link,
.quote-list .content .quote-list-post .text h3 a:active,
.quote-list .content .quote-list-post .text h3 a:visited,
.quote-list .content .quote-list-post .text h3 a:hover {
  color: #110a3e;
}
.quote-list .content .quote-list-post .text .meta {
  font-size: 10px;
  font-weight: bold;
}
.quote-list .content .quote-list-post .text .meta img {
  display: inline-block;
}
.quote-list .content .quote-list-post .text .meta .share-count {
  font-size: 10px;
  font-weight: normal;
}
.quote-list .content .quote-list-post .text .meta .timeago {
  font-size: 10px;
  font-weight: normal;
}
.home-popular .header {
  background-color: #110a3e;
  padding: 10px 15px;
}
.home-popular .header h2 {
  color: white;
  margin: 0px;
  font-weight: bold;
  font-size: 16px;
  font-family: "Oswald", "Open Sans", Helvetica, Arial, sans-serif;
}
.home-popular .content {
  background-color: #e9e9e9;
  color: #333333;
  padding: 20px 30px 29px;
  margin-bottom: 0px;
}
.home-popular .content .home-popular-post {
  margin-bottom: 2px;
}
.home-popular .content .home-popular-post .col-sm-12 {
  padding: 0px;
}
.home-popular .content .home-popular-post .text h4 {
  font-size: 12px;
  margin: 0px 0px 8px 0px;
  font-family: "Oswald", "Open Sans", Helvetica, Arial, sans-serif;
}
.home-popular .content .home-popular-post .text h4 a:link,
.home-popular .content .home-popular-post .text h4 a:active,
.home-popular .content .home-popular-post .text h4 a:visited,
.home-popular .content .home-popular-post .text h4 a:hover {
  color: #110a3e;
}
.home-summary {
  margin-bottom: 10px;
  div[class^="col-md-"] {
    padding-left: 5px;
    padding-right: 5px;
  }
}
.home-ad {
  margin-bottom: 10px;
  width: 100%;
  height: 200px;
  background-color: #428bca;
}













header.navbar {
  border: none;
  background-color: #fbf9f9;
  margin: 10px 0px 0px;
}
header.navbar .navbar-brand {
  height: auto;
  padding: 0px;
  margin-left: 0px !Important;
}
header.navbar .navbar-brand img {
  max-width: 100%;
  height: auto;
}
header.navbar .primary-navigation {
  margin-top: 8px;
  margin-bottom: 8px;
}
header.navbar .primary-navigation .suppaMenu_wrap {
  height: 32px !important;
}
header.navbar .primary-navigation .suppaMenu {
  height: 32px !important;
}
header.navbar .primary-navigation .suppaMenu .suppa_menu:hover {
  background: #110a3e;
}
header.navbar .primary-navigation .suppaMenu .suppa_menu:hover a:link,
header.navbar .primary-navigation .suppaMenu .suppa_menu:hover a:active,
header.navbar .primary-navigation .suppaMenu .suppa_menu:hover a:visited,
header.navbar .primary-navigation .suppaMenu .suppa_menu:hover a:hover {
  color: #ffffff !important;
}
header.navbar .primary-navigation .suppaMenu .suppa_menu:hover a:link .suppa_item_title,
header.navbar .primary-navigation .suppaMenu .suppa_menu:hover a:active .suppa_item_title,
header.navbar .primary-navigation .suppaMenu .suppa_menu:hover a:visited .suppa_item_title,
header.navbar .primary-navigation .suppaMenu .suppa_menu:hover a:hover .suppa_item_title {
  color: #ffffff !important;
}
header.navbar .primary-navigation .suppaMenu .suppa_menu {
  width: 9.09090909%;
  text-align: center;
  height: 32px !important;
  background: #fbf9f9;
}
header.navbar .primary-navigation .suppaMenu .suppa_menu a:link,
header.navbar .primary-navigation .suppaMenu .suppa_menu a:active,
header.navbar .primary-navigation .suppaMenu .suppa_menu a:visited {
  text-transform: uppercase;
  color: #110a3e !important;
  font-weight: bold;
  position: static;
  padding: 0px;
}
header.navbar .primary-navigation .suppaMenu .suppa_menu a:hover {
  font-weight: bold;
  color: #110a3e !important;
}
header.navbar .primary-navigation .suppaMenu .suppa_menu a:hover .suppa_item_title {
  color: #110a3e !important;
}
header.navbar .primary-navigation .suppaMenu .suppa_menu a.active {
  height: 32px !important;
}
header.navbar .primary-navigation .suppaMenu .suppa_menu .suppa_top_level_link {
  height: 32px !important;
}
header.navbar .primary-navigation .suppaMenu .suppa_menu .suppa_top_level_link .suppa_item_title {
  padding-top: 7px !important;
  padding-bottom: 7px !important;
  color: #110a3e !important;
  font-family: "Oswald", "Open Sans", Helvetica, Arial, sans-serif !important;
  font-size: 16px !important;
  line-height: 18px !important;
  text-transform: none;
}
header.navbar .primary-navigation .suppaMenu .suppa_menu .suppa_submenu {
  top: 32px !important;
}
header.navbar .primary-navigation .suppaMenu .suppa_menu .suppa_submenu_posts {
  text-align: left;
  /* CSS3 Box Shadow */
  -webkit-box-shadow: 0px 2px 20px 0px #666666;
  box-shadow: 0px 2px 20px 0px #666666;
}
header.navbar .primary-navigation .suppaMenu .suppa_menu .suppa_submenu_posts .suppa_post_link_title {
  text-transform: none;
  font: "Gentium Book Basic", "Open Sans", Helvetica, Arial, sans-serif;
}
header.navbar .primary-navigation .suppaMenu .suppa_menu .era_suppa_arrow_box span {
  display: none;
}
header.navbar .secondary-navigation {
  float: right;
  width: auto;
}
header.navbar .secondary-navigation ul.navbar-nav .menu-111,
header.navbar .secondary-navigation ul.navbar-nav .menu-97 {
  display: none;
}
header.navbar .secondary-navigation ul.navbar-nav li a:link,
header.navbar .secondary-navigation ul.navbar-nav li a:active,
header.navbar .secondary-navigation ul.navbar-nav li a:visited {
  text-transform: uppercase;
  font-family: "Abel", "Open Sans", Helvetica, Arial, sans-serif;
  font-weight: bold;
  color: #110a3e;
  padding: 5px 10px 5px 10px;
  line-height: 14px !important;
}
header.navbar .secondary-navigation ul.navbar-nav li a:hover {
  color: #040308;
  padding: 5px 10px 5px 10px;
}
header.navbar .secondary-navigation .social-media {
  float: left;
  margin-left: 8px;
  margin-right: 8px;
  height: 24px;
}
header.navbar .secondary-navigation .language-switcher {
  float: left;
  margin-left: 8px;
  margin-right: 8px;
  height: 24px;
}
header.navbar .secondary-navigation .language-switcher .language-switcher-inner {
  height: 24px;
  line-height: 24px;
  padding-top: 0px;
}
header.navbar .secondary-navigation .language-switcher .language-switcher-inner img {
  vertical-align: top;
}
header.navbar .secondary-navigation .search-form {
  float: left;
}
header.navbar .secondary-navigation .search-form .input-group {
  width: 163px;
  background: #e5e4ea;
}
header.navbar .secondary-navigation .search-form .input-group .search-field {
  padding: 0px 12px !important;
  background: #e5e4ea;
  height: 24px;
  line-height: 24px;
  width: 140px;
  border: none;
  border-radius: 0px;
}
header.navbar .secondary-navigation .search-form .input-group .search-submit {
  position: absolute;
  top: 4px;
  right: 0px;
  width: 15px;
  height: 16px;
  background: url("../img/search_icon.jpg") top left no-repeat;
  border: none;
  text-indent: -9999px;
}
.submenu {
  background-color: #fbf9f9;
  background-image: none !important;
  z-index: 999999 !important;
}
/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jul 28, 2014, 12:17:12 PM
    Author     : gary
*/
.post-nav {
  background-color: #f2f2f2;
  padding: 5px 10px;
  margin-bottom: 00px;
}
.post-nav ul.pager {
  margin: 0px;
}
.post-nav ul.pager li a:link,
.post-nav ul.pager li a:active,
.post-nav ul.pager li a:visited {
  color: #110a3e;
  text-transform: lowercase;
  background-color: transparent;
  border: none;
  border-radius: 0px;
  font-weight: bold;
  font-family: "Oswald", "Open Sans", Helvetica, Arial, sans-serif;
  padding: 5px 0px;
}
.post-nav ul.pager li a:hover {
  color: #040308;
  text-transform: lowercase;
  font-family: "Oswald", "Open Sans", Helvetica, Arial, sans-serif;
  padding: 5px 0px;
}
.post-nav ul.pager .previous {
  float: left;
}
.post-nav ul.pager .next {
  float: right;
}
html[lang="zh-CN"] footer .footer-navigation ul li {
  width: 7.14285714%;
}
footer .footer-menu {
  margin: 0px;
}
footer .footer-menu .footer-navigation ul {
  width: 100%;
}
footer .footer-menu .footer-navigation ul li a:link,
footer .footer-menu .footer-navigation ul li a:active,
footer .footer-menu .footer-navigation ul li a:visited {
  padding: 9px 7px;
  text-transform: uppercase;
  font-size: 10px;
}
footer .footer-menu .social-media {
  text-align: right;
  padding: 10px 0px;
}
footer .footer-links {
  background-color: #dfdfdf;
  border-top: 1px solid #C9C9C9;
  margin: 0px;
  font-size: 12px;
  font-style: italic;
}
footer .footer-links .row {
  padding: 8px 0px 60px 0px;
}
footer .footer-links .row .col-sm-4 {
  padding: 0px 5px;
}
footer .footer-links ul li a:link,
footer .footer-links ul li a:active,
footer .footer-links ul li a:visited {
  font-style: normal;
}
footer .footer-links ul li a:hover {
  font-style: normal;
}
footer .footer-links h3 {
  font-size: 12px;
  text-transform: uppercase;
  font-weight: bold;
  margin: 0px;
  font-style: normal;
  font-family: "Abel", "Open Sans", Helvetica, Arial, sans-serif;
}
footer .footer-links .introduction {
  font-weight: bold;
}
footer .footer-links .most-read ul {
  margin: 0px;
  padding: 0px;
  list-style: none;
}
footer .footer-links .most-read ul li {
  margin: 0px;
  padding: 0px;
  list-style: none;
}
footer .footer-links .experts ul {
  margin: 0px;
  padding: 0px;
  list-style: none;
}
footer .footer-links .experts ul li {
  padding: 0px;
  list-style: none;
  font-size: 12px;
  text-transform: uppercase;
  font-weight: bold;
  margin: 0px;
  font-style: normal;
  font-family: "Abel", "Open Sans", Helvetica, Arial, sans-serif;
}
footer .footer-legal {
  border-top: 1px solid #c9c9c9;
  background: #d3d3d3;
  text-align: center;
  font-size: 12px;
  font-family: "Oswald", "Open Sans", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  font-style: normal;
}
footer .footer-legal .row {
  padding: 10px 0px 20px;
}
.footer-brand {
  width: 217px;
  margin: 10px auto 15px;
  display: block;
  text-align: center;
}
.footer-brand img {
  width: 33%;
  height: auto;
}
/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jul 28, 2014, 1:34:11 PM
    Author     : gary
*/
.threedots_ellipsis {
  color: #8f0302;
}
.home-grid-row {
  margin-bottom: 20px;
}
.home-archive {
  padding: 20px 0px;
}
.home-archive .col-sm-4 {
  padding: 0px 5px;
}
.home-archive a:link,
.home-archive a:active,
.home-archive a:visited {
  text-transform: uppercase;
  font-family: "Abel", "Open Sans", Helvetica, Arial, sans-serif;
  font-weight: bold;
  font-size: 12px;
  color: #110a3e;
  line-height: 14px !important;
  text-decoration: none;
  display: block;
}
.home-archive a:hover {
  text-transform: uppercase;
  font-family: "Abel", "Open Sans", Helvetica, Arial, sans-serif;
  font-weight: bold;
  font-size: 12px;
  color: #110a3e;
  line-height: 14px !important;
  text-decoration: underline;
  display: block;
}
.advert-marquee {
  height: 592px;
  padding-left: 2px;
  padding-right: 5px;
}
.advert-marquee .advert {
  overflow: hidden;
  height: 296px;
}
.advert-marquee .advert a {
  overflow: hidden;
  display: block;
}
.advert-marquee .most-read {
  height: 296px;
  padding: 0px 8px;
}
.advert-marquee .most-read ul {
  list-style: none;
  padding: 0px;
  margin: 0px;
  display: block;
}
.advert-marquee .most-read ul li {
  list-style: none;
  padding: 0px;
  margin: 0px;
  display: block;
}
.advert-marquee .most-read ul li a:link,
.advert-marquee .most-read ul li a:active,
.advert-marquee .most-read ul li a:visited {
  text-transform: uppercase;
  font-family: "Abel", "Open Sans", Helvetica, Arial, sans-serif;
  font-weight: bold;
  font-size: 11px;
  color: black;
  line-height: 14px !important;
  text-decoration: none;
}
.advert-marquee .most-read ul li a:hover {
  text-transform: uppercase;
  font-family: "Abel", "Open Sans", Helvetica, Arial, sans-serif;
  font-weight: bold;
  font-size: 11px;
  color: black;
  line-height: 14px !important;
  text-decoration: underline;
}

body.category .category-header {
  padding: 14px 0px 14px 30px;
  margin-left: 0px;
  margin-right: 0px;
  font-size: 16px;
  color: white;
  font-weight: bold;
  text-transform: lowercase;
  margin-bottom: 20px;
  border-bottom: 2px solid #121937;
  background-color: #110a3e;
}
body.category .category-header h1 {
  color: white;
  font-size: 32px;
  line-height: 32px;
  font-family: "Oswald", "Open Sans", Helvetica, Arial, sans-serif;
  font-weight: bold;
  margin: 0px;
}
.category-right {
  float: right !important;
}
/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jul 28, 2014, 1:34:11 PM
    Author     : gary
*/
.sparkle-post .article-social-media {
  margin-top: 10px;
}
.sparkle-post header .category-row {
  padding: 4px 0px 4px 30px;
  margin-left: 0px;
  margin-right: 0px;
  font-size: 16px;
  color: white;
  font-weight: bold;
  text-transform: lowercase;
  font-family: "Gentium Book Basic", "Open Sans", Helvetica, Arial, sans-serif;
  background-color: #fbf9f9;
}
.sparkle-post header .title-row {
  padding: 8px 0px 8px 30px;
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 20px;
  background-color: #fbf9f9;
}
.sparkle-post header .title-row h1 {
  color: #121937;
  font-size: 26px;
  font-weight: bold;
  margin: 0px;
  font-family: "Oswald", "Open Sans", Helvetica, Arial, sans-serif;
}
.sparkle-post header .title-row h1 .category-title {
  text-transform: lowercase;
}
.sparkle-post header .title-row P {
  color: #121937;
  font-size: 16px;
  margin: 0px;
}
.sparkle-post .category-image-row {
  overflow: hidden;
  margin-left: 0px;
  margin-right: 0px;
}
.sparkle-post .category-image-row .image-banner {
  padding-left: 0px;
  padding-right: 0px;
}
.sparkle-post .category-image-row .image-banner img {
  width: 100%;
  max-width: 100%;
  height: auto;
}
.sparkle-post .category-image-row .pull-quote {
  background-color: #e5e4ea;
  position: relative;
  max-height: 336px;
}
.sparkle-post .category-image-row .pull-quote .quote {
  display: block;
  padding: 20px 30px;
  overflow: hidden;
  text-align: left;
  font-family: "Alfa Slab One", "Open Sans", Helvetica, Arial, sans-serif;
  color: #110a3e;
  font-size: 34px;
  max-height: 467px;
}
.sparkle-post .row-content {
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 20px;
}
.sparkle-post .col-content {
  padding-left: 0px !important;
  padding-right: 20px !important;
  padding-top: 15px;
  font-size: 18px;
  font-family: "Gentium Book Basic", "Open Sans", Helvetica, Arial, sans-serif;
}
.sparkle-post .col-content img {
  width: 100%;
  height: auto;
  max-width: 100%;
}
.sparkle-post .col-content a:link,
.sparkle-post .col-content a:active,
.sparkle-post .col-content a:visited {
  color: #8f0302;
  text-decoration: none;
}
.sparkle-post .col-content a:hover {
  color: #8f0302;
  text-decoration: underline;
}
.sparkle-post .col-social-author {
  background-color: #e5e4ea;
  padding-left: 0px;
  padding-right: 0px;
}
.sparkle-post .col-social-author .social-share {
  margin-top: 15px;
  margin-bottom: 20px;
}
.sparkle-post .col-social-author .social-share h4 {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 16px;
}
.sparkle-post .col-social-author .social-share .mashsharer-box {
  float: none;
}
.sparkle-post .col-social-author .social-share .mashsharer-box .mashsharer-count {
  text-align: left;
  width: 100%;
  font-size: 15px;
  font-weight: bold;
  margin-bottom: 4px;
  line-height: 15px;
}
.sparkle-post .col-social-author .social-share .mashsharer-box .mashsharer-count .shares {
  display: inline-block;
  margin-left: 4px;
  font-size: 15px;
  font-weight: bold;
  font-weight: normal;
}
.sparkle-post .col-social-author .social-share .mashsharer-box .mashsharer-buttons {
  float: none;
}
.sparkle-post .col-social-author .social-share .mashsharer-box .mashsharer-buttons .share {
  width: 100%;
  margin-bottom: 4px;
  font-size: 11px;
  border-radius: 0px;
  margin-right: 4px;
  background: #ced5e8;
  position: relative;
  display: inline-block;
  height: 41px;
  color: #FFF;
  line-height: 41px;
  background: url('../img/share_icon.jpg') no-repeat 10px 12px #ced5e8;
  padding-left: 35px;
}
.sparkle-post .col-social-author .social-share .mashsharer-box .mashsharer-buttons .facebook {
  width: 100%;
  margin-bottom: 4px;
}
.sparkle-post .col-social-author .social-share .mashsharer-box .mashsharer-buttons .twitter {
  width: 100%;
  margin-bottom: 4px;
}
.sparkle-post .col-social-author .author {
  font-size: 14px;
  margin-bottom: 10px;
}
.sparkle-post .col-social-author .author img {
  margin-bottom: 6px;
  max-width: 100%;
  height: auto;
}
.sparkle-post .col-social-author .author .written-by {
  padding: 0px 5px;
  font-weight: bold;
  margin-bottom: 0px;
}
.sparkle-post .col-social-author .author .author-name {
  font-weight: normal;
  margin-bottom: 6px;
  line-height: 14px;
  text-transform: lowercase;
}
.sparkle-post .col-social-author .author a:link,
.sparkle-post .col-social-author .author a:active,
.sparkle-post .col-social-author .author a:visited {
  padding: 0px 5px;
  font-weight: bold;
  text-transform: lowercase;
  color: #110a3e;
  margin-bottom: 6px;
}
.sparkle-post .col-social-author .author a:hover {
  padding: 0px 5px;
  color: #040308;
}
.sparkle-post .col-related-posts {
  padding-right: 0px !important;
  padding-left: 10px !important;
  padding-top: 0px !important;
}
.sparkle-post .col-related-posts .yarpp-related {
  margin-bottom: 0px;
}
.sparkle-post .col-related-posts .yarpp-related > img {
  display: none;
}
.sparkle-post .col-related-posts .header {
  background-color: #110a3e;
  padding: 10px 30px;
}
.sparkle-post .col-related-posts .header h2 {
  text-transform: lowercase;
  color: white;
  margin: 0px;
  font-weight: bold;
  font-size: 16px;
  font-family: "Oswald", "Open Sans", Helvetica, Arial, sans-serif;
}
.sparkle-post .col-related-posts .content {
  background-color: #e9e9e9;
  color: #333333;
  padding: 20px 30px;
}
.sparkle-post .col-related-posts .content .quote-list-post {
  margin-bottom: 20px;
}
.sparkle-post .col-related-posts .content .quote-list-post .col-md-4 {
  padding: 0px;
}
.sparkle-post .col-related-posts .content .quote-list-post .image img {
  max-width: 100%;
  height: auto;
}
.sparkle-post .col-related-posts .content .quote-list-post .text h3 {
  font-size: 16px;
  font-weight: bold;
  margin: 0px 0px 8px 0px;
  font-family: "Oswald", "Open Sans", Helvetica, Arial, sans-serif;
}
.sparkle-post .col-related-posts .content .quote-list-post .text .meta {
  font-size: 10px;
  font-weight: bold;
}
.sparkle-post .col-related-posts .content .quote-list-post .text .meta img {
  display: inline-block;
}
.sparkle-post .col-related-posts .content .quote-list-post .text .meta .share-count {
  font-size: 10px;
  font-weight: normal;
}
.sparkle-post .col-related-posts .content .quote-list-post .text .meta .timeago {
  font-size: 10px;
  font-weight: normal;
}
.sparkle-post .category-related-posts .home-post {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
  margin-bottom: 20px;
}
@media (min-width: 768px) {
  .sparkle-post .category-related-posts .home-post {
    float: left;
    width: 33.33333333%;
  }
}
.sparkle-post .category-related-posts .home-post article {
  margin-bottom: 10px;
}
.sparkle-post .category-related-posts .home-post article img {
  max-width: 100%;
  height: auto;
  margin: 0px 0px 6px;
}
.sparkle-post .category-related-posts .home-post article .category {
  padding: 0px 0px;
  font-weight: bold;
  text-transform: lowercase;
  margin: 0px 0px 5px;
  font-size: 14px;
}
.sparkle-post .category-related-posts .home-post article .title {
  padding: 0px 0px;
  font-weight: bold;
  margin: 0px 0px 3px;
  font-size: 16px;
  font-family: "Gentium Book Basic", "Open Sans", Helvetica, Arial, sans-serif;
}
.sparkle-post .category-related-posts .home-post article .content {
  padding: 0px 0px;
  margin: 0px 0px 7px;
  font-size: 14px;
  font-family: "Gentium Book Basic", "Open Sans", Helvetica, Arial, sans-serif;
}
/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jul 28, 2014, 1:34:11 PM
    Author     : gary
*/
.sparkle-page header .title-row h1 {
  font-family: "Gentium Book Basic", "Open Sans", Helvetica, Arial, sans-serif;
}
@media (max-width: 991px) {
  /*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
  /* 
    Created on : Jul 25, 2014, 4:48:00 PM
    Author     : gary
*/
  /*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
  /* 
    Created on : Jul 28, 2014, 12:17:12 PM
    Author     : gary
*/
  /*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
  /* 
    Created on : Jul 28, 2014, 12:17:12 PM
    Author     : gary
*/
  footer .footer-links .introduction {
    text-align: center;
  }
  /*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
  /* 
    Created on : Jul 28, 2014, 1:34:11 PM
    Author     : gary
*/
  /*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
  /* 
    Created on : Jul 28, 2014, 1:34:11 PM
    Author     : gary
*/
  /*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
  /* 
    Created on : Jul 28, 2014, 1:34:11 PM
    Author     : gary
*/
  .quote-list .content .quote-list-post .text .meta {
    display: none;
  }
  .sparkle-post .category-image-row .pull-quote {
    max-height: none;
    min-height: none !important;
  }
  .sparkle-post .category-image-row .pull-quote .quote {
    display: block;
    padding-top: 0px !important;
    padding-bottom: 0px !important;
    overflow: hidden;
    text-align: center;
    font-weight: bold;
    font-style: italic;
    color: #110a3e;
    font-size: 18px;
    padding: 0px;
    margin: 0px;
    max-height: none;
  }
  .sparkle-post .col-social-author .social-share .mashsharer-box .mashsharer-buttons .share {
    width: 100%;
    text-indent: -9999px;
    background: url('../img/share_icon.jpg') no-repeat center 12px #ced5e8;
  }
  .sparkle-post .col-social-author .social-share .mashsharer-box .mashsharer-buttons .facebook {
    width: 100%;
    text-indent: -9999px;
    background-position: center 12px;
  }
  .sparkle-post .col-social-author .social-share .mashsharer-box .mashsharer-buttons .twitter {
    width: 100%;
    text-indent: -9999px;
    background-position: center 12px;
  }
  .sparkle-post .col-related-posts .header h2 {
    text-align: center;
  }
  .sparkle-post .col-related-posts .content .quote-list-post .image img {
    margin: 0px auto;
    display: block;
  }
  .sparkle-post .col-related-posts .content .quote-list-post .text {
    margin-top: 6px;
    padding-left: 0px;
    padding-right: 0px;
    text-align: center;
  }
}
@media (max-width: 767px) {
  .secondary-navigation {
    width: 100% !important;
    float: none !important;
    margin-bottom: 10px;
    margin-top: 6px;
  }
  .secondary-navigation .navbar-nav {
    display: none !important;
  }
  .secondary-navigation .menu-96,
  .secondary-navigation .menu-95 {
    display: none !important;
  }
  .secondary-navigation .language-switcher {
    width: 5%;
    margin-left: 2% !important;
    float: right !important;
    margin-right: 0px !important;
  }
  .secondary-navigation .search-form {
    width: 93% !important;
  }
  .secondary-navigation .search-form form {
    width: 100% !important;
  }
  .secondary-navigation .search-form form .input-group {
    width: 100% !important;
  }
  .secondary-navigation .search-form form .input-group .search-field {
    width: 100%;
  }
  .secondary-navigation .search-form form .input-group .input-group-btn {
    width: 7%;
  }
  .quote-list {
    display: none;
  }
  .sparkle-post .category-image-row .pull-quote {
    max-height: none;
    min-height: none !important;
  }
  .sparkle-post .category-image-row .pull-quote .quote {
    display: block;
    padding-top: 0px !important;
    padding-bottom: 0px !important;
    overflow: hidden;
    text-align: center;
    font-weight: bold;
    font-style: italic;
    color: #110a3e;
    font-size: 18px;
    padding: 0px;
    margin: 0px;
    max-height: none;
  }
  .sparkle-post .col-social-author .social-share {
    display: inline-block;
    width: 50%;
    margin: 0px 5% 0px 0px;
  }
  .sparkle-post .col-social-author .social-share .mashsharer-box .mashsharer-buttons .share {
    width: 100%;
    text-indent: 0px !important;
    background: url('../img/share_icon.jpg') no-repeat center 12px #ced5e8;
  }
  .sparkle-post .col-social-author .social-share .mashsharer-box .mashsharer-buttons .facebook {
    width: 100%;
    text-indent: 0px !important;
    background-position: center 12px;
  }
  .sparkle-post .col-social-author .social-share .mashsharer-box .mashsharer-buttons .twitter {
    width: 100%;
    text-indent: 0px !important;
    background-position: center 12px;
  }
  .sparkle-post .col-social-author .author {
    display: inline-block;
    width: 35%;
    margin-right: 5%;
  }
  .sparkle-post .col-related-posts .content:before,
  .sparkle-post .col-related-posts .content:after {
    content: " ";
    display: table;
  }
  .sparkle-post .col-related-posts .content:after {
    clear: both;
  }
  .sparkle-post .col-related-posts .content:before,
  .sparkle-post .col-related-posts .content:after {
    content: " ";
    display: table;
  }
  .sparkle-post .col-related-posts .content:after {
    clear: both;
  }
  .sparkle-post .col-related-posts .content .quote-list-post {
    float: left;
    width: 45%;
    margin-left: 0px !important;
    margin-right: 5% !important;
  }
}