$heading_font: 'Oswald', 'Open Sans', Helvetica, Arial, sans-serif;
$normal_font: 'Gentium Book Basic', 'Open Sans', Helvetica, Arial, sans-serif;
$footing_font: 'Abel', 'Open Sans', Helvetica, Arial, sans-serif;
$primary_color: #110a3e;

header.wrap {
  padding: 20px 0;
  width: 100%;
  background: asset-url("frontend/header_bg.jpg");
  .meta {
    color: #fff;
  }
  .title {
    h1 {
      float: right;
      font-size: 48px;
      color: #fff;
    }
  }
}

nav.wrap {
  width: 100%;
  background: asset-url("frontend/nav_bg.jpg");
  border-radius: 0;
}

.logo {
  padding: 20px 0;
}

.navbar {
  border: 0;
  border-color: transparent;
  background: transparent;
  box-shadow: none;
  ul.navbar-nav {
    li {
      text-align: center;
      a {
        font-family: $heading_font;
        font-size: 16px;
        color: #273075;
        &:hover {
          background-color: #000;
        }
      }
    }
  }
}

.navbar-right {
  img {
    height: 20px;
  }
}

.home-popular {
  div.home-popular-header {
    padding: 8px 12px;
    background: asset-url("frontend/nav_bg.jpg");
    font-family: $heading_font;
    font-size: 16px;
    color: #273075;
  }
  ul.home-popular-posts {
    padding: 10px;
    background-color: #ececea;
    li {
      a {
        font-family: $heading_font;
        font-size: 12px;
        font-weight: normal;
      }
    }
  }
}

.home-ads {
  .home-ad {
    margin-bottom: 13px;
    width: 100%;
    background-color: #428bca;
  }
}

.home-post {
  min-height: 390px;
  article {
    img {
      max-width: 100%;
      margin: 0 0 6px;
    }
    .category {
      a {
        font-size: 14px;
        font-weight: bold;
        color: $primary_color;
      }
    }
    .title {
      margin: 0 0 6px;
      a {
        font-family: $normal_font;
        font-size: 16px;
        font-weight: bold;
        color: $primary_color;
      }
    }
    .description {
      font-family: $normal_font;
      font-size: 14px;
    }
  }
}

.home-recommended {
  div.home-recommended-header {
    padding: 8px 12px;
    background: asset-url("frontend/nav_bg.jpg");
    font-family: $heading_font;
    font-size: 16px;
    color: #273075;
  }
  div.home-recommended-posts {
    padding: 10px;
    background-color: #ececea;
    div.home-recommended-post {
      margin-bottom: 16px;
      h3 {
        margin: 0 0 6px;
        a {
          font-family: $heading_font;
          font-size: 16px;
          font-weight: bold;
          color: #11023f;
        }
      }
      .time-ago {
        font-size: 10px;
      }
    }
  }
}

div.wrap-archive {
  padding: 20px 0;
  width: 100%;
  background-color: #f2f2f2;
  a {
    font-family: $footing_font;
    font-size: 12px;
    font-weight: bold;
    color: $primary_color;
    text-transform: uppercase;
  }
}

footer.wrap-related {
  padding: 10px;
  width: 100%;
  border-top: 1px #c9c9c9 solid;
  background-color: #dfdfdf;
  a {
    font-family: $footing_font;
    font-size: 12px;
    font-weight: bold;
    color: $primary_color;
    text-transform: uppercase;
  }
}

footer.wrap-copyright {
  padding: 10px 0 40px;
  width: 100%;
  border-top: 1px #c9c9c9 solid;
  p {
    font-family: $heading_font;
    font-size: 12px;
    color: #333;
    text-transform: uppercase;
  }
  img {
    width: 100px;
  }
}

.post-show {
  .post-cover {
    padding-left: 0;
    padding-right: 0;
  }
  .post-quote {
    padding-left: 0;
    padding-right: 0;
    background-color: #e5e4ea;
    font-family: 'Alfa Slab One', 'Open Sans', Helvetica, Arial, sans-serif;
  }
  .post-content {
    font-family: $normal_font;
    font-size: 18px;
  }
}

.post-see-more {
  div.post-see-more-header {
    padding: 8px 12px;
    background: asset-url("frontend/nav_bg.jpg");
    font-family: $heading_font;
    font-size: 16px;
    color: #273075;
  }
  div.post-see-more-posts {
    padding: 10px;
    background-color: #ececea;
    div.home-recommended-post {
      margin-bottom: 16px;
      h3 {
        margin: 0 0 6px;
        a {
          font-family: $heading_font;
          font-size: 16px;
          font-weight: bold;
          color: #11023f;
        }
      }
      .time-ago {
        font-size: 10px;
      }
    }
  }
}

.mb20 {
  margin-bottom: 20px;
}

@media (min-width: 768px) { 
  div[class^="col"] {
    padding-left: 5px;
    padding-right: 5px;
  }
  .row {
    margin-left: -5px;
    margin-right: -5px;
  }
  .post-show {
    .post-cover {
      img {
        width: 720px;
      }
    }
    .post-quote {
      padding: 20px 40px;
      font-size: 28px;
    }
  }
}

@media (min-width: 992px) {   
  div[class^="col"] {
    padding-left: 5px;
    padding-right: 5px;
  }
  .row {
    margin-left: -5px;
    margin-right: -5px;
  }
  ul.navbar-nav > li {
    min-width: 86px;
  }
  .home-popular {
    ul.home-popular-posts {
      height: 430px;
      li {
        a {
          font-size: 10px;
        }
      }
    }
  }
  .home-ads {
    .home-ad {
      height: 147px;
    }
  }
  .post-show {
    .post-cover {
      img {
        width: 633px;
      }
    }
    .post-quote {
      padding: 20px 40px;
      height: 475px;
      font-size: 28px;
    }
  }
}

@media (min-width: 1200px) {   
  div[class^="col"] {
    padding-left: 5px;
    padding-right: 5px;
  }
  .row {
    margin-left: -5px;
    margin-right: -5px;
  }
  ul.navbar-nav > li {
    min-width: 100px;
  }
  .home-popular {
    ul.home-popular-posts {
      height: 529px;
    }
  }
  .home-ads {
    .home-ad {
      height: 180px;
    }
  }
  .post-show {
    .post-cover {
      img {
        width: 767px;
      }
    }
    .post-quote {
      padding: 20px 40px;
      height: 575px;
      font-size: 34px;
    }
  }
}