//= require frontend/bootstrap
//= require frontend/bootstrap-theme
//= require frontend/font-awesome

div.top {
  height: 56px;
  background-color: #edeef3;
}

ul.navi {
  padding: 0;
  margin: 0;
  height: 76px;
  background: asset-url("frontend_v2/navi_bg.jpg") repeat-x;
  list-style: none;
  li {
    float: left;
    padding: 0;
    height: 76px;
  }
  li.left {
    width: 2px;
    background: asset-url("frontend_v2/navi_bg_left.jpg") no-repeat;
  }
  li.logo {
    width: 200px;
    img {
      margin-left: 70px;
    }
  }
  li.right {
    float: right;
    width: 2px;
    background: asset-url("frontend_v2/navi_bg_right.jpg") no-repeat;
  }
  li.item {
    padding: 0 24px;
    line-height: 72px;
    background: asset-url("frontend_v2/navi_sperator.jpg") no-repeat;
    a {
      color: #fff;
      font-size: 16px;
    }
  }
}

div.home-carousel {
  div.carousel-caption {
    h1 {
      font-family: 'SimHei';
      font-style: italic;
      font-size: 60px;
      font-weight: bold;
      text-align: left;
    }
    p {
      font-size: 22px;
      font-weight: bold;
      text-align: left;
    }
  }
}

div.home-magazine {
  background-color: #000a41;
  h3 {
    color: #fff;
    padding-bottom: 18px;
  }
}

div.home-subtitle {
  padding: 20px 0;
}


div.home-feature {
  padding: 40px 0;
  background-color: #eaeaea;
  div.home-feature-canvas {
    margin-top: 20px;
    div {
      float: left;
      height: 354px;
      overflow: hidden;
    }
    div.home-feature-large {
      width: 50%;
    }
    div.home-feature-small {
      width: 25%;
      h5 {
        margin: 14px 20px;
        font-size: 18px;
        font-weight: bold;
      }
      p {
        margin: 14px 20px;
      }
    }
    div.home-feature-magazine {
      width: 200px;
    }
    div.home-feature-f5d8b8 {
      background-color: #465aa8;
      color: #fff;
    }
    div.home-feature-3b3633 {
      color: #fff;
      background-color: #3b3633;
    }
    div.home-feature-5a798b {
      color: #fff;
      background-color: #5a798b;
    }
    div.home-feature-dcdcdc {
      background-color: #dcdcdc;
    }
  }
}

div.home-category {
  padding: 20px 0;
  article {
    div.caption {
      position: absolute;
      bottom: 0;
      padding: 8px 20px;
      height: 80px;
      width: 294px;
      background: #000;
      opacity: 0.5;
      /* hack for ie8 */
      filter: alpha(opacity=50);
      /* hack for mozilla */
      -moz-opacity: 0.5;
      z-index: 99;
      font-weight: bold;
      color: #CCC;
      h5 {
        opacity: 1;
        margin: 2px 0;
        font-size: 22px;
        color: #fff;
      }
      div.description {
        color: #fff;
        font-size: 12px;
        line-height: 16px;
      }
    }
  }
}

div.home-archive {
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom: 4px #bebebe solid;
  h3 {
    margin-bottom: 20px;
    padding: 0 0 12px 30px;
    border-bottom: 4px #bebebe solid;
    color: #bebebe;
  }
  div.home-archive-post {
    span.number {
      color: #222;
    }
    div.home-archive-post-title {
      a {
        color: #222;
      }
    }
  }
}

div.home-expert {
  margin: 40px 0;
  img.title {
    margin-bottom: 30px;
  }
  div.home-expert-item {
    h5 {
      text-align: center;
    }
  }
}

div.footer {
  background-color: #ae0020;
  color: #fff;
  div.logo {
    img {
      margin-top: 30px;
    }
  }
  div.footer-item {
    padding-top: 10px;
    height: 130px;
  }
  div.contact {
    img {
      height: 60px;
    }
  }
  div.follow {
    img {
      height: 60px;
    }
  }
  div.copyright {
    img {
      height: 24px;
    }
  }
}

footer.wrap-copyright {
  padding: 10px 0 16px;
  width: 100%;
  p {
    font-size: 12px;
    color: #333;
    text-transform: uppercase;
  }
  img {
    width: 100px;
  }
}

@media (min-width: 1200px) {
  div[class^="col"] {
    padding-left: 5px;
    padding-right: 5px;
  }
  .row {
    margin-left: -5px;
    margin-right: -5px;
  }
}