<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <title><%= @post.zh_title %></title>
    <%= stylesheet_link_tag 'wechat', media: 'all', 'data-turbolinks-track' => true %>
  </head>
  <body>
    <div id="container">
      <%= yield %>
    </div>
    <%= javascript_include_tag 'wechat', 'data-turbolinks-track' => true %>
  </body>
</html>